$default-font-size: 62.5%;

@font-face {
  font-family: 'DBHelvethaicaX-Reg';
  src: url("../fonts/DBHelvethaicaX-Reg.ttf");
  src: url("../fonts/DBHelvethaicaX-Reg.woff") format("woff"), url("../fonts/DBHelvethaicaX-Reg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DBHelvethaicaX-Med';
      src: url('../fonts/DBHelvethaicaX-65Med.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-65Med.woff') format('woff'),
        url('../fonts/DBHelvethaicaX-65Med.ttf') format('truetype');
      // src: url('../fonts/DBHelvethaicaX-85Blk.woff2') format('woff2'),
      //   url('../fonts/DBHelvethaicaX-85Blk.woff') format('woff'),
      //   url('../fonts/DBHelvethaicaX-85Blk.ttf') format('truetype');
  // src: url("../fonts/DBHelvethaicaX-Med.ttf");
  // src: url("../fonts/DBHelvethaicaX-Med.woff") format("woff"), url("../fonts/DBHelvethaicaX-Med.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'DB Helvethaica X 35';
    src: url('../fonts/DBHelvethaicaX-35Thin.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-35Thin.woff') format('woff'),
        url('../fonts/DBHelvethaicaX-35Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'DB Helvethaica X 63 MedExt';
    src: url('../fonts/DBHelvethaicaX-63MedExt.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-63MedExt.woff') format('woff'),
        url('../fonts/DBHelvethaicaX-63MedExt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@mixin translate3dTo0() {
	-moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

@mixin transitionglobal() {
	-webkit-transition: all 1s ;
    -o-transition: all 1s ;
    -moz-transition: all 1s ;
    transition: all 1s ;
}

@mixin transitionglobal_fast() {
	-webkit-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    transition: all 0.5s ;
}

html{
	font-size: $default-font-size;
	@media (max-width: 992px) {
		font-size: $default-font-size / 1.11;
	}
}

body{
	font-family: 'DBHelvethaicaX-Reg';
	color: #252525;
	font-size: 1rem;
	line-height: 1;
}

a{
	text-decoration: none;
	color: #252525;
	&:hover,&:focus{
		text-decoration: none;
		color: #1b1464;
	}
}

img{
	max-width: 100%;
}

header{
	position: fixed;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;	
    // overflow: hidden;
    .container{
		@media(max-width: 992px){
			max-width: 100%;
		}
    }
	a.logo-main{
		display: block;
		position: relative;
		text-align: left;
	}
	a.logo-main::after{
		content: "";
	    position: absolute;
	    width: 0;
	    height: 0;
	    border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-top: 12px solid #fff;
	    left: 5px;
	    bottom: -38px;
	    display: block;
	    @media(max-width: 992px){
			bottom: -36px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
			margin-right: 40px;
			@media(max-width: 1024px){
				// margin-right: 20px;
			}
			&:last-child{
				margin-right: 0;
			}
			a{
				font-size: 2.4rem;
				line-height: 1;
			}
		}
	}
}
.headshadow{
    position: fixed;
    width: 100%;
    height: 10px;
    background-color: transparent;
    -webkit-box-shadow: 0 0 10px 5px #2c2b55;
    box-shadow: 0 0 10px 5px #2c2b55;
    border-radius: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 55px;
    z-index: 65;
    @media(max-width: 992px){
    	width: 110%;
		top: 50px;
	}
}

.hero-slide{
	position: relative;
	background-color: #ccc;
	overflow: hidden;
	height: 945px;
	// 1280
	@media(max-width: 1440px){
		height: 845px;
	}
	@media(max-width: 1024px){
		height: 700px;
	}
	@media(max-width: 992px){
		height: 650px;
	}
	
	.slick-initialized .slick-slide{
		position: relative;
	}
	.slide{
		height: 945px;
		@media(max-width: 1440px){
			height: 845px;
		}
		@media(max-width: 1024px){
			height: 700px;
		}
		@media(max-width: 992px){
			height: 650px;
		}
		img{
			width: 100%;
		}
		.item-slide{
			.slide-detail{
				font-family: 'DBHelvethaicaX-Reg';
				width: 60%;
				position: absolute;
				top: 25%;
				left: 50%;
		    	transform: translateX(-50%);
		    	text-align: center;
		    	font-size: 2.8rem;
		    	line-height: 1;
		    	color: #fff;
		    	text-align: center;
		    	@media(max-width: 1440px){
					left: 42%;
				}
				@media(max-width: 1280px){
					left: 40%;
					width: 40%;
		    		font-size: 2.4rem;
				}
				@media(max-width: 1024px){
					left: 38%;
					width: 40%;
		    		font-size: 2.4rem;
				}
		    	h2{
		    		font-size: 10.8rem;
		    		span{
		    			color: #111;
		    		}
		    	}
		    	p{
		    		@media(max-width: 1280px){
						br{
							display: none;
						}
					}
		    	}
		    	img{
		    		width: auto;
		    		display: inline-block;
		    		margin-bottom: 40px;
		    	}
		    	a{
		    		display: inline-block;
		    		background-color: #1b1464;
		    		padding: 10px 35px;
		    		color: #fff;
		    		border-radius: 30px;
		    		margin-top: 70px;
		    		@media(max-width: 1280px){
		    			margin-top: 50px;
		    		}
		    	}
			}
		}
		.slick-dots{
			width: auto;
			top: 32%;
			left: 150px;
			max-height: 300px;
			@media(max-width: 1440px){
				left: 100px;
			}
			@media(max-width: 1280px){
				left: 80px;
				top: 27%;
			}
			li{
				display: block;
				width: 3px;
				height: 33px;
				padding: 0;
			}
			li.slick-active button:before,
			li button:before{
				opacity: 1;
				width: 3px;
				height: 28px;
			}
			li.slick-active button:before{
				background-color: #1b1464;
			}
			li button:before{
				content: '';
				background-color: #fff;
			}
			li button{
				width: 3px;
				height: 35px;
			}
		}
		.slide-count-wrap{
			font-size: 2.8rem;
			position: absolute;
			top: 55%;
    		left: 114px;
    		@media(max-width: 1440px){
				left: 63px;
			}
			@media(max-width: 1280px){
				left: 42px;
			}
			@media(max-width: 1280px){
				top: 60%;
			}
			span{
				padding: 10px 11px;
				color: #fff;
			}
			.current{
				position: relative;
				color: #1b1464;
				&::after{
					content: "";
					width: 2px;
					height: 100%;
					top: 0;
					right: -2px;
					position: absolute;
					background-color: #fff;
				}
			}
		}
	}
	.form-tab-list{
		position: absolute;
		width: 325px;
	    top: 175px;
	    right: 5%;
	    z-index: 1;
	    font-size: 2rem;
	    line-height: 1;
	    color: #464646;
	    @media(max-width: 1440px){
			top: 140px;
		}
		@media(max-width: 1280px){
			top: 120px;
		}
		@media(max-width: 1024px){
			top: 95px;
		}
	    .form-tab-seller , .form-tab-buyer{
	    	clear: both;
	    	position: absolute;
	    	top: 50px;
    		width: 100%;
			padding: 30px;
	    	background-color: rgba(255,255,255,.9);
	    	opacity: 0;
	    	z-index: -2;
	    	@media(max-width: 1280px){
				padding: 20px 30px;
			}
			@media(max-width: 992px){
				top: 47px;
			}
	    	&.active{
	    		opacity: 1;
	    		z-index: 1;
	    	}
	    	h4{
	    		font-size: 3.2rem;
				font-family: 'DBHelvethaicaX-Reg';
				font-weight: 600;
				color: #1b1464;
	    	}
	    	&.warning{
	    		background-color: #fff;
	    		input{
	    			border-bottom-color: #f33512;
	    			&::-webkit-input-placeholder {
					  color: #f33512;
					  font-style: italic;
					}

					&:-ms-input-placeholder {
					  color: #f33512;
					  font-style: italic;
					}

					&::placeholder {
					  color: #f33512;
					  font-style: italic;
					}
	    		}
	    	}
	    	input{
	    		width: 100%;
	    		background-color: #fff;
	    		border:0;
	    		border-bottom: solid 1px #1b1464;
	    		padding: 7px 10px;
				outline: none;
	    		font-size: 1.8rem;
	    		margin-bottom: 5px;
	    		&::-webkit-input-placeholder {
				  color: #7d7d7d;
				  font-style: italic;
				}

				&:-ms-input-placeholder {
				  color: #7d7d7d;
				  font-style: italic;
				}

				&::placeholder {
				  color: #7d7d7d;
				  font-style: italic;
				}
	    	}
	    	strong{
				font-family: 'DBHelvethaicaX-Med';
	    	}
	    	p{
	    	}
	    	a{
				font-family: 'DBHelvethaicaX-Med';
				color: #1b1464;
	    	}
	    	a.btn{
	    		font-size: 2.4rem;
	    		padding: 6px 35px;
	    		border-radius: 25px;
	    		background-color: #fff;
	    		border: 1px solid #1b1464;
	    		display: inline-block;
	    		margin-top: 10px;
	    		@media(max-width: 1280px){
					font-size: 2.2rem;
				}
	    	}
		}
		ul{
			list-style-type: none;
			margin: 0;
    		padding: 0;
			li{
				position: relative;
				text-align: center;
				width: 50%;
				display: inline-block;
				float: left;
				background: rgba(27,20,100,1);
				background: -moz-linear-gradient(top, rgba(27,20,100,1) 0%, rgba(21,16,78,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(27,20,100,1)), color-stop(100%, rgba(21,16,78,1)));
				background: -webkit-linear-gradient(top, rgba(27,20,100,1) 0%, rgba(21,16,78,1) 100%);
				background: -o-linear-gradient(top, rgba(27,20,100,1) 0%, rgba(21,16,78,1) 100%);
				background: -ms-linear-gradient(top, rgba(27,20,100,1) 0%, rgba(21,16,78,1) 100%);
				background: linear-gradient(to bottom, rgba(27,20,100,1) 0%, rgba(21,16,78,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b1464', endColorstr='#15104e', GradientType=0 );
				a{
					font-family: 'DBHelvethaicaX-Med';
					display: block;
					color: #fff;
					padding: 12px 0;
					font-size: 2.6rem;
				}
				&.active{
	    			background: rgba(255,255,255,.9);
	    			&::before{
	    				content: "";
	    				position: absolute;
	    				left: 0;
	    				top: -5px;
	    				display: block;
	    				width: 100%;
	    				height: 5px;
	    				background-color: #00a1e9;
	    			}
	    			&.warning{
			    		background-color: #fff;
			    	}
	    			a{
						color: #1b1464;
	    			}
				}
			}
		}
	}
	.down-to-content{
		cursor: pointer;
		position: relative;
		width: 50px;
		height: 50px;
		text-align: center;
		bottom: 195px;
		left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    @media(max-width: 992px){
			bottom: 175px;
		}
	}
}

.re-network{
	position: relative;
    z-index: 60;
    .container{
    	@media(max-width: 992px){
			max-width: 95%;
		}
    }
	.paper{
		position: relative;
		margin-top: -100px;
		padding-top: 45px;
		background-color: #fff;
		font-family: 'DBHelvethaicaX-Reg';
		font-size: 2.4rem;
		line-height: 1;
		text-align: center;
		color: #707070;
		@media(max-width: 1024px){
			margin-top: -60px;
		}
		@media(max-width: 992px){
			margin-top: -40px;
		}
		h2{
			font-family: 'DBHelvethaicaX-Med';
			font-size: 5.2rem;
			margin-bottom: 10px;
			color: #252525;
			@media(max-width: 1024px){
				font-size: 5rem;
			}
		}
		.re-list{
			position: relative;
			clear: both;
			padding-top: 70px;
			padding-bottom: 125px;
			text-align: left;
			@media(max-width: 1280px){
				padding-top: 50px;
				padding-bottom: 90px;
			}
			@media(max-width: 1024px){
				padding-bottom: 70px;
			}
			.re-image{
				position: relative;
				max-height: 245px;
				overflow: hidden;
				@media(max-width: 1280px){
					max-height: 200px;
				}
				@media(max-width: 1024px){
					max-height: 160px;
				}
				&::after{
					content: "";
					position: absolute;
					bottom: 0;
					right: 0;
					display: block;
					background-image: url('../img/corner-curl.jpg');
					background-size: 100%;
					width: 40px;
					height: 40px;
					@media(max-width: 1024px){
						width: 30px;
						height: 30px;
					}
				}
			}
			.re-detail{
				padding: 0 15px;
				font-size: 2rem;
				margin-bottom: 20px;
				color: #595959;
				@media(max-width: 1024px){
					padding: 0 10px;
				}
				h4{
					// font-family: 'DBHelvethaicaX-Med';
  					font-family: 'DBHelvethaicaX-Reg';
  					font-weight: 600;
					font-size: 2.8rem;
					line-height: 1;
					padding: 22px 0 15px;
					color: #000;
					@media(max-width: 1024px){
						padding: 15px 0 10px;
					}
				}
			}
			
		}
		&::before{
			content: '';
		    background-color: #fff;
		    position: absolute;
		    z-index: -1;
		    width: 30px;
		    height: 500px;
		    left: 14px;
		    top: 30px;
		    transform: rotate(-3deg);
		    box-shadow: -18px 0 8px 0px rgba(44, 43, 85, 0.6);
		}
		&::after{
			content: '';
    		background-color: #fff;
    		position: absolute;
    		z-index: -1;
    		width: 30px;
		    height: 500px;
		    right: 14px;
		    top: 30px;
		    transform:rotate(3deg);
	    	box-shadow: 18px 0 8px 0px rgba(44, 43, 85, 0.6);
		}
	}
}

.top-why{
	margin-bottom: 45px;
	@media(max-width: 992px){
		margin-bottom: 30px;
    }
}
.why-join{
	font-size: 2rem;
	font-family: 'DBHelvethaicaX-Reg';
	line-height: 1;
	padding-bottom: 120px;
	color: #595959;
    @media(max-width: 1440px){
		padding-bottom: 90px;
    }
    @media(max-width: 1024px){
		padding-bottom: 70px;
    }
}
.comment{
  	font-family: 'DBHelvethaicaX-Reg';
  	color: #252525;
	> img {
		padding: 0 20px 0 40px;
		vertical-align: top;
		@media(max-width: 1024px){
			padding: 0 20px 0 0;
	    }
	    @media(max-width: 992px){
			padding: 0 15px 0 0;
    		width: 48px;
	    }
	}
	.comment-detail{
		display: inline-block;
		width: 75%;
		font-size: 2.8rem;
		line-height: .9;
		color: #595959;
		font-weight: 600;
		@media(max-width: 1024px){
			font-size: 2.6rem;
	    }
	    @media(max-width: 992px){
	    	width: 83%;
	    }
	}
	.commentator{
		margin-top: 25px;
		img{
			margin-right: 10px;
			margin-top: -15px;
			@media(max-width: 1024px){
				vertical-align: inherit;
			}
		}
		div{
			display: inline-block;
			width: 70%;
			font-size: 2rem;
			span{
				display: block;
				font-family: 'DBHelvethaicaX-Reg';
			}
		}
	}

}

.offer{
	background-image: url('../img/offer-bg.jpg');
	background-size: cover;
	background-position: center;
	min-height: 795px;
	position: relative;
	@media(max-width: 1440px){
		min-height: 695px;
	}
	@media(max-width: 1280px){
		min-height: 640px;
	}
	@media(max-width: 1024px){
		min-height: 500px;
	}
	&::before{
		content: "";
		display: block;
		width: 0; 
		height: 0; 
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 50px solid #fff;
		position: absolute;
		left: 50%;
	    transform: translateX(-50%);
	    top: 0;
	    @media(max-width: 1280px){
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			border-top: 40px solid #fff;
		}
		@media(max-width: 1024px){
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-top: 30px solid #fff;
		}
	}
	.container{
		@media(max-width: 992px){
			max-width: 95%;
		}
	}
	.offer-detail{
		padding-left: 80px;
		padding-top: 120px;
		padding-bottom: 90px;
		@media(max-width: 1440px){
			padding-top: 70px;
			padding-bottom: 50px;
		}
		@media(max-width: 1280px){
			padding-top: 60px;
			padding-bottom: 30px;
		}
		@media(max-width: 1024px){
			padding-top: 40px;
			padding-left: 40px;
		}
		h2{
			font-family: 'DB Helvethaica X 63 MedExt';
			font-size: 9rem;
			@media(max-width: 1440px){
				font-size: 7rem;
			}
			@media(max-width: 1280px){
				font-size: 6rem;
			}
			@media(max-width: 1024px){
				font-size: 5.5rem;
			}
		}
		p{
			font-family: 'DBHelvethaicaX-Reg';
			font-size: 2.4rem;
			line-height: 1;
			img{
				vertical-align: middle;
			}
			@media(max-width: 1280px){
				img{
					width: 100px;
				}
			}
			@media(max-width: 1024px){
				font-size: 1.8rem;
			}
		}
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-top: 45px;
			@media(max-width: 1440px){
				margin-top: 20px;
			}
			@media(max-width: 1024px){
				margin-top: 0;
			}
			li{
				border-bottom: 1px solid #000;
				padding: 20px 0;
				@media(max-width: 1440px){
					padding: 15px 0;
				}
				p{
					font-size: 2rem;
				}
				&:last-child{
					border-bottom: 0;
					.list-offer{
						@media(max-width: 1440px){
							padding-top: 20px;
						}
						@media(max-width: 1024px){
							padding-top: 10px;
						}
					}
				}
				div{
					display: inline-block;
				}
				.img-offer{
					width: 25%;
					text-align: center;
					vertical-align: top;
					@media(max-width: 1280px){
						width: 25%;
					}
					@media(max-width: 1024px){
						img{
							width: 90px;
						}
					}
				}
				.list-offer{
					width: 70%;
					font-size: 2rem;
					h3{
						font-size: 2.8rem;
						font-family: 'DBHelvethaicaX-Med';
						font-weight: 600;
						@media(max-width: 1440px){
							font-size: 2.6rem;
						}
						@media(max-width: 1280px){
							font-size: 2.2rem;
						}
					}
				}
			}
		}
	}
	
}

.news{
	padding: 85px 0;
	@media(max-width: 1440px){
		padding: 50px 0 60px;
    }
    @media(max-width: 1280px){
    	padding: 40px 0 60px;
    }
    @media(max-width: 1280px){
    	padding: 30px 0 50px;
    }
    .container{
		@media(max-width: 992px){
			max-width: 95%;
		}
	}
	h2{
		font-family: 'DB Helvethaica X 63 MedExt';
		font-size: 9rem;
		text-align: center;
		color: #363636;
		@media(max-width: 1280px){
			font-size: 7rem;
			img{
				width: 30px;
			}
	    }
	    @media(max-width: 1280px){
			font-size: 6rem;
			img{
				width: 25px;
			}
	    }
	}
	.news-list{
		margin-bottom: 75px;
		@media(max-width: 1280px){
			margin-bottom: 55px;
		}
		ul{
			padding: 0;
			margin: 0;
			margin-top: 50px;
			list-style-type: none;
			@media(max-width: 1280px){
				margin-top: 40px;
			}
			li{
				> div{
					position: relative;
					border:1px solid #ebebeb;
					&::after{
						content: "";
						position: absolute;
						bottom: 0;
						right: 0;
						display: block;
						background-image: url('../img/news-corner-curl.png');
						background-repeat: no-repeat;
						width: 30px;
						height: 30px;
					@include transitionglobal_fast();
					}
				}
				&:hover{
					> div{
						&::after{
							background-image: url('../img/news-corner-curl-open.png');
					@include transitionglobal_fast();
						}
					}
					.news-more{
						@include transitionglobal_fast();
						opacity: 1;
					}
				}
				.news-img{
					max-height: 230px;
					overflow: hidden;
					@media(max-width: 1280px){
						max-height: 180px;
					}
					@media(max-width: 1024px){
						max-height: 130px;
					}
				}
				.news-desc{
					font-family: 'DBHelvethaicaX-Reg';
					padding: 20px 15px 30px;
					font-size: 2rem;
					min-height: 260px;
					overflow: hidden;
					color: #707070;
					@media(max-width: 1280px){
						font-size: 1.9rem;
					}
					@media(max-width: 1024px){
						font-size: 1.8rem;
					}
					h3{
  						font-family: 'DBHelvethaicaX-Reg';
  						font-weight: 600;
						font-size: 2.8rem;
						line-height: .9;
						margin-bottom: 20px;
						color: #252525;
						@media(max-width: 1280px){
							font-size: 2.4rem;
						}
						@media(max-width: 1024px){
							font-size: 2rem;
						}
					}
					p{
						margin-bottom: 15px;
					}
					.meta{
						display: block;
						color: #1b1464;
					}
				}
				.news-more{
					font-family: 'DBHelvethaicaX-Reg';
					position: absolute;
					top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    background-color: rgba(27, 20, 100, .95);
				    color: #fff;
				    padding: 15px;
					font-size: 2rem;
					opacity: 0;
					overflow: hidden;
					@include transitionglobal_fast();
					@media(max-width: 1280px){
						font-size: 1.7rem;
					}
					@media(max-width: 1024px){
						font-size: 1.6rem;
					}
				    h3{
				    	position: relative;
  						font-family: 'DBHelvethaicaX-Reg';
  						font-weight: 600;
						font-size: 2.8rem;
						line-height: .9;
						margin-bottom: 20px;
						@media(max-width: 1280px){
							font-size: 2.4rem;
						}
						@media(max-width: 1024px){
							font-size: 2rem;
						}
						&::after{
							content: '';
							display: block;
							width: 80px;
							height: 5px;
							background-color: #fff;
							margin: 20px 0 50px;
							@media(max-width: 1280px){
								margin: 20px 0 30px;
							}
							@media(max-width: 1024px){
								height: 3px;
								margin: 10px 0 20px;
							}
						}
					}
					p{
						margin-bottom: 15px;
						@media(max-width: 1024px){
							margin-bottom: 10px;
						}
					}
					.meta{
						display: block;
					}
				}
			}
		}
	}

	.btn{
		text-align: center;
		display: block;
		a{
			font-size: 2.4rem;
			padding: 6px 35px;
			border-radius: 25px;
			background-color: #1b1464;
			color: #fff;
			display: inline-block;
			@media(max-width: 1280px){
				font-size: 2.2rem;
			}
		}
	}
}

.founding-member{
	background: rgba(248,248,248,1);
	background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(247,247,247,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,1)), color-stop(100%, rgba(247,247,247,1)));
	background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(247,247,247,1) 100%);
	background: -o-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(247,247,247,1) 100%);
	background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(247,247,247,1) 100%);
	background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(247,247,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f7f7f7', GradientType=0 );
	padding: 90px 0 100px;
	font-size: 2.4rem;
	font-family: 'DBHelvethaicaX-Reg';
	text-align: center;
	color: #707070;
	@media(max-width: 1440px){
		padding: 50px 0 60px;
    }
    @media(max-width: 1280px){
    	padding: 40px 0 60px;
    }
    @media(max-width: 1280px){
    	padding: 30px 0 50px;
    }
    .container{
		@media(max-width: 992px){
			max-width: 95%;
		}
	}
	h2{
		font-family: 'DB Helvethaica X 63 MedExt';
		font-size: 9rem;
		text-align: center;
		color: #363636;
		@media(max-width: 1440px){
			font-size: 7rem;
			img{
				width: 30px;
			}
	    }
	    @media(max-width: 1280px){
			font-size: 6rem;
			img{
				width: 25px;
			}
	    }
	}
	h4{
		font-size: 2.4rem;
		margin-bottom: 25px;
	}
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-top: 40px;
		margin-bottom: 75px;
		text-align: center;
	}
	.btn{
		font-family: 'DBHelvethaicaX-Reg';
		font-size: 2.4rem;
		padding: 6px 35px;
		border-radius: 25px;
		background-color: #1b1464;
		color: #fff;
		display: inline-block;
		@media(max-width: 1280px){
			font-size: 2.2rem;
		}
	}
}

footer{
	position: relative;
	.container{
		@media(max-width: 992px){
			max-width: 95%;
		}
	}
	.footer-nav{
		padding: 20px 0;
		border-bottom: 1px solid #eaeaea;
		@media(max-width: 1280px){
			padding: 15px 0;
		}
		ul.nav-footer{
			margin: 0;
			padding: 0;
			list-style-type: none;
			li{
				display: inline-block;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				a{
					font-size: 2.4rem;
					line-height: 1;
					@media(max-width: 1280px){
						font-size: 2.2rem;
					}
					@media(max-width: 1024px){
						font-size: 2rem;
					}
				}
			}
		}

		span{
			display: inline-block;
			font-family: 'DBHelvethaicaX-Reg';
			font-size: 2rem;
			color: #363636;
			vertical-align: bottom;
			margin-right: 10px;
			@media(max-width: 1024px){
				font-size: 1.7rem;
			}
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: inline-block;
			li{
				display: inline-block;
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
				a{
					line-height: 1;
				}
				img{
					@media(max-width: 1024px){
						height: 20px;
					}
				}
			}
		}
	}
	.footer-copyright{
		padding: 15px 0;
		font-size: 2rem;
		line-height: 1;
		font-family: 'DBHelvethaicaX-Reg';
		@media(max-width: 1024px){
			font-size: 1.8rem;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			li{
				display: inline-block;
				position: relative;
				padding-right: 15px;
				&::after{
					content: '';
					position: absolute;
					width: 1px;
					height: 12px;
					right: 6px;
					top: 4px;
					background-color: #6c6c6c;
				}
				&:last-child{
					margin-right: 0;
					&::after{
						content: none;
					}
				}
				a{
					line-height: 1;
					color: #1b1464;
				}
			}
		}
	}

	.btn-totop{
		position: absolute;
		bottom: 95px;
		right: 5%;
		@media(max-width: 1024px){
			bottom: 115px;
			right: 3%;
		}
	}
}

.modal{
	display: block;
	width: 60%;
	height: auto;
    margin: 1.75rem auto;
    top: 10%;
    left: 50%;
    // overflow: auto;
    overflow: inherit;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 0 0 15px #ccc;
    visibility: hidden;
	&.show{
		opacity: 1;
    	visibility: visible;
	}
	.close-modal{
		position: absolute;
	    right: 0;
	    top: -35px;
	    z-index: 10;
	}
	&::after{
		content: "";
	    display: inline-block;
	    width: 90%;
	    height: 10px;
	    background-color: transparent;
	    -webkit-box-shadow: 0 0 10px 5px #2c2b55;
	    box-shadow: 0 0 10px 5px #2c2b55;
	    border-radius: 70%;
	    position: absolute;
	    bottom: 0px;
	    left: 50%;
	    -webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);
	    z-index: -1;
	}
	.modal-content{
		background-color: #fff;
    	text-align: center;
    	font-size: 2.4rem;
    	font-family: 'DBHelvethaicaX-Reg';
    	padding: 100px 20px;
    	line-height: 1;
    	border: 0;
    	border-radius: 0;
	}
	&#register-success{
		h2{
			font-family: 'DBHelvethaicaX-Med';
			font-size: 52px;
			margin-bottom: 25px;
		}
		.btn{
			width: 185px;
			position: relative;
			font-size: 2.4rem;
    		padding: 6px 35px;
    		border-radius: 25px;
    		color: #fff;
    		background-color: #fff;
    		border: 1px solid #1b1464;
    		background-color: #312b73;
    		display: inline-block;
    		margin: 30px auto 0;
    		@media(max-width: 1280px){
				font-size: 2.2rem;
			}
		}
	}
}

.overlay{
	&.show{
		z-index: 1000;
		opacity: 1;
	}
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(255,255,255,.8);
	background-image: url('../img/bgoverlay.png');
	z-index: -1;
	opacity: 0;
}