
header {
    position: fixed;
    padding: 20px 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99; }
    @media (max-width: 768px) {
      header {
        padding: 40px; } }
    @media (max-width: 640px) {
      header {
        padding: 30px 20px; } }
    @media (max-width: 480px) {
      header {
        padding: 20px 15px; } }
    @media (max-width: 410px) {
      header {
        padding: 20px 5px; } }
    @media (max-width: 320px) {
      header {
        padding: 15px 0px; } }
    @media (max-width: 992px) {
      header .container {
        max-width: 100%; } }
    header a.logo-main {
      display: block;
      position: relative;
      text-align: left; }
      header a.logo-main img {
        height: 25px;
        margin-top: 2px; }
        @media (max-width: 768px) {
          header a.logo-main img {
            height: 45px;
            margin-top: 0; } }
        @media (max-width: 480px) {
          header a.logo-main img {
            height: 30px; } }
        @media (max-width: 410px) {
          header a.logo-main img {
            height: 25px; } }
        @media (max-width: 320px) {
          header a.logo-main img {
            height: 22px; } }
    header a.logo-main::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 12px solid #fff;
      left: 5px;
      bottom: -38px;
      display: block; }
      @media (max-width: 1280px) {
        header a.logo-main::after {
          bottom: -36px; } }
      @media (max-width: 992px) {
        header a.logo-main::after {
          bottom: -32px; } }
      @media (max-width: 768px) {
        header a.logo-main::after {
          bottom: -64px;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          border-top: 24px solid #fff; } }
      @media (max-width: 640px) {
        header a.logo-main::after {
          bottom: -54px; } }
      @media (max-width: 480px) {
        header a.logo-main::after {
          bottom: -44px; } }
      @media (max-width: 410px) {
        header a.logo-main::after {
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
          border-top: 17px solid #fff;
          bottom: -40px; } }
      @media (max-width: 320px) {
        header a.logo-main::after {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 12px solid #fff;
          bottom: -30px; } }
    @media (max-width: 768px) {
      header .nav-cover {
        position: fixed;
        width: 100%;
        max-height: 100%;
        top: 125px;
        left: 0;
        background-color: #fff;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        padding: 0;
        overflow: scroll; } }
    @media (max-width: 640px) {
      header .nav-cover {
        top: 105px; } }
    @media (max-width: 480px) {
      header .nav-cover {
        top: 65px; } }
    @media (max-width: 320px) {
      header .nav-cover {
        top: 55px; } }
    header .nav-cover.show {
      opacity: 1;
      visibility: visible; }
    @media (max-width: 768px) {
      header .nav-cover .nav-top {
        position: relative;
        min-height: 1000px; } }
    header .nav-cover .nav-bottom {
      position: absolute;
      width: 100%;
      bottom: 107px;
      left: 0; }
      header .nav-cover .nav-bottom ul li {
        display: inline-block;
        float: left;
        width: 50%;
        border: 1px solid #e7e7e7;
        text-align: center;
        padding-left: 0; }
    header ul {
      margin: 0;
      padding: 0;
      margin-top: 5px; }
      header ul li {
        display: inline-block;
        margin-right: 40px; }
        @media (max-width: 1199px) {
          header ul li {
            margin-right: 30px; } }
        @media (max-width: 768px) {
          header ul li {
            display: block;
            margin-right: 0;
            text-align: left;
            padding-left: 65px;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #e7e7e7; } }
        @media (max-width: 480px) {
          header ul li {
            padding-left: 50px;
            padding-top: 25px;
            padding-bottom: 25px; } }
        @media (max-width: 410px) {
          header ul li {
            padding-left: 30px; } }
        @media (max-width: 320px) {
          header ul li {
            padding-top: 20px;
            padding-bottom: 20px; } }
        header ul li:last-child {
          margin-right: 0; }
        header ul li a {
          font-size: 2.4rem;
          line-height: 1; }
          @media (max-width: 768px) {
            header ul li a {
              font-size: 5rem;
              display: block; } }
          @media (max-width: 480px) {
            header ul li a {
              font-size: 2.8rem; } }
          @media (max-width: 410px) {
            header ul li a {
              font-size: 2.6rem; } }
          @media (max-width: 320px) {
            header ul li a {
              font-size: 2.2rem; } }
    header .btn-login {
      display: inline-block;
      text-align: center;
      font-size: 2.4rem;
      padding: 6px 35px;
      border-radius: 25px;
      background-color: #fff;
      border: 1px solid #1b1464;
      color: #1b1464;
      display: inline-block;
      margin-top: -5px; }
      @media (max-width: 1280px) {
        header .btn-login {
          font-size: 2.2rem; } }
      @media (max-width: 768px) {
        header .btn-login {
          font-size: 3rem;
          padding: 6px 25px;
          margin: 0; } }
      @media (max-width: 480px) {
        header .btn-login {
          font-size: 2.6rem; } }
      @media (max-width: 480px) {
        header .btn-login {
          font-size: 2.2rem;
          padding: 5px 15px;
          margin-right: 15px; } }
      @media (max-width: 480px) {
        header .btn-login {
          font-size: 2rem;
          margin-right: 10px;
          padding: 4px 11px; } }
      @media (max-width: 320px) {
        header .btn-login {
          font-size: 1.8rem; } }
    header .navbar-toggler {
      display: none; }
      @media (max-width: 768px) {
        header .navbar-toggler {
          display: block;
          float: right;
          width: 50px;
          height: 45px;
          background-image: url("/assets/img/ico-nav.png");
          background-repeat: no-repeat;
          background-size: 100% auto; } }
      @media (max-width: 480px) {
        header .navbar-toggler {
          width: 40px;
          height: 35px; } }
      @media (max-width: 480px) {
        header .navbar-toggler {
          width: 35px;
          height: 30px; } }
      @media (max-width: 480px) {
        header .navbar-toggler {
          width: 30px;
          height: 25px; } }

         
  .headshadow {
    position: fixed;
    width: 100%;
    height: 10px;
    background-color: transparent;
    -webkit-box-shadow: 0 0 10px 5px rgba(44, 43, 85, 0.7);
    box-shadow: 0 0 10px 5px rgba(44, 43, 85, 0.7);
    border-radius: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 63px;
    z-index: 65; }
    @media (max-width: 1280px) {
      .headshadow {
        top: 60px; } }
    @media (max-width: 992px) {
      .headshadow {
        width: 110%;
        top: 55px; } }
    @media (max-width: 768px) {
      .headshadow {
        top: 115px;
        -webkit-box-shadow: 0 0 10px 10px rgba(44, 43, 85, 0.7);
        box-shadow: 0 0 10px 10px rgba(44, 43, 85, 0.7); } }
    @media (max-width: 640px) {
      .headshadow {
        top: 95px; } }
    @media (max-width: 480px) {
      .headshadow {
        top: 62px; } }
    @media (max-width: 410px) {
      .headshadow {
        top: 57px; } }
    @media (max-width: 320px) {
      .headshadow {
        top: 44px; } }