
  
  .re-network {
    position: relative;
    z-index: 60; }
    @media (max-width: 992px) {
      .re-network .container {
        max-width: 95%; } }
    @media (max-width: 768px) {
      .re-network .container {
        max-width: 98%; } }
    .re-network .paper {
      position: relative;
      margin-top: -100px;
      margin-top: -40px;
      padding-top: 45px;
      background-color: #fff;
      font-family: 'DBHelvethaicaX-Reg';
      font-size: 2.6rem;
      line-height: 1;
      text-align: center;
      color: #707070; }
      @media (max-width: 1024px) {
        .re-network .paper {
          margin-top: -60px; } }
      @media (max-width: 992px) {
        .re-network .paper {
          margin-top: -40px; } }
      @media (max-width: 768px) {
        .re-network .paper {
          margin-top: -100px;
          padding: 60px 70px 0; } }
      @media (max-width: 640px) {
        .re-network .paper {
          padding: 50px 50px 20px; } }
      @media (max-width: 480px) {
        .re-network .paper {
          padding: 50px 40px 20px; } }
      @media (max-width: 410px) {
        .re-network .paper {
          padding: 40px 30px 20px; } }
      @media (max-width: 320px) {
        .re-network .paper {
          padding: 40px 20px 20px; } }
      .re-network .paper h2 {
        font-family: 'DB Helvethaica X 63 MedExt';
        font-size: 6.4rem;
        margin-bottom: 10px;
        color: #252525;
        line-height: 1; }
        @media (max-width: 1024px) {
          .re-network .paper h2 {
            font-size: 5rem; } }
        @media (max-width: 768px) {
          .re-network .paper h2 {
            font-size: 6.1rem;
            line-height: .8;
            margin-bottom: 20px; } }
        @media (max-width: 640px) {
          .re-network .paper h2 {
            font-size: 5rem; } }
        @media (max-width: 480px) {
          .re-network .paper h2 {
            font-size: 5.7rem; } }
        @media (max-width: 410px) {
          .re-network .paper h2 {
            font-size: 4.5rem;
            margin-bottom: 15px; } }
        @media (max-width: 375px) {
          .re-network .paper h2 {
            font-size: 4.2rem; } }
        @media (max-width: 320px) {
          .re-network .paper h2 {
            font-size: 4rem; } }
      @media (max-width: 768px) {
        .re-network .paper p {
          font-size: 3.9rem; }
          .re-network .paper p br {
            display: none; } }
      @media (max-width: 640px) {
        .re-network .paper p {
          font-size: 3.3rem; } }
      @media (max-width: 480px) {
        .re-network .paper p {
          font-size: 2.4rem; } }
      @media (max-width: 410px) {
        .re-network .paper p {
          font-size: 1.9rem; } }
      .re-network .paper .re-list {
        position: relative;
        clear: both;
        padding-top: 70px;
        padding-bottom: 80px;
        text-align: left; }
        @media (max-width: 1280px) {
          .re-network .paper .re-list {
            padding-top: 50px;
            padding-bottom: 90px; } }
        @media (max-width: 1024px) {
          .re-network .paper .re-list {
            padding-bottom: 70px; } }
        @media (max-width: 768px) {
          .re-network .paper .re-list {
            padding-top: 70px;
            padding-bottom: 30px; } }
        @media (max-width: 640px) {
          .re-network .paper .re-list {
            padding-bottom: 0; } }
        @media (max-width: 480px) {
          .re-network .paper .re-list {
            padding-top: 40px; } }
        @media (max-width: 410px) {
          .re-network .paper .re-list {
            padding-top: 30px; } }
        @media (max-width: 320px) {
          .re-network .paper .re-list {
            padding-top: 20px; } }
       .re-network .paper::before {
        content: '';
        background-color: #fff;
        position: absolute;
        z-index: -1;
        width: 30px;
        height: 500px;
        left: 14px;
        top: 30px;
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        -webkit-box-shadow: -18px 0 8px 0px rgba(44, 43, 85, 0.6);
        box-shadow: -18px 0 8px 0px rgba(44, 43, 85, 0.6); }
        @media (max-width: 1024px) {
          .re-network .paper::before {
            -webkit-transform: rotate(-2deg);
            -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
            left: 18px; } }
      .re-network .paper::after {
        content: '';
        background-color: #fff;
        position: absolute;
        z-index: -1;
        width: 30px;
        height: 500px;
        right: 14px;
        top: 30px;
        -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        -webkit-box-shadow: 18px 0 8px 0px rgba(44, 43, 85, 0.6);
        box-shadow: 18px 0 8px 0px rgba(44, 43, 85, 0.6); }
        @media (max-width: 1024px) {
          .re-network .paper::after {
            -webkit-transform: rotate(2deg);
            -ms-transform: rotate(2deg);
            transform: rotate(2deg);
            right: 18px; } }
  
  .top-why {
    text-align: center; }
  
  .why-join {
    font-size: 2rem;
    font-family: 'DBHelvethaicaX-Reg';
    line-height: 1;
    color: #595959; }
    @media (max-width: 768px) {
      .why-join {
        font-size: 3.9rem; }
        .why-join p {
          margin-bottom: 35px; } }
    @media (max-width: 640px) {
      .why-join {
        font-size: 3.3rem; } }
    @media (max-width: 768px) {
      .why-join .container {
        max-width: 100%;
        padding: 0; } }
    .why-join h2 {
      font-family: 'DB Helvethaica X 63 MedExt';
      font-size: 9rem;
      text-align: center;
      color: #363636; }
      .why-join h2 span {
        display: inline-block;
        vertical-align: baseline; }
        .why-join h2 span img {
          height: 50px;
          vertical-align: top;
          margin-top: 28px; }
          @media (max-width: 1280px) {
            .why-join h2 span img {
              height: 44px;
              margin-top: 16px; } }
          @media (max-width: 1024px) {
            .why-join h2 span img {
              height: 40px;
              margin-top: 12px; } }
          @media (max-width: 768px) {
            .why-join h2 span img {
              height: 50px;
              margin-top: 22px; } }
          @media (max-width: 640px) {
            .why-join h2 span img {
              height: 40px;
              margin-top: 21px; } }
          @media (max-width: 480px) {
            .why-join h2 span img {
              height: 35px;
              margin-top: 11px; } }
          @media (max-width: 410px) {
            .why-join h2 span img {
              height: 30px;
              margin-top: 5px; } }
      @media (max-width: 1280px) {
        .why-join h2 {
          font-size: 7rem; } }
      @media (max-width: 1024px) {
        .why-join h2 {
          font-size: 6rem; } }
      @media (max-width: 768px) {
        .why-join h2 {
          font-size: 9.2rem;
          margin-bottom: 30px; } }
      @media (max-width: 640px) {
        .why-join h2 {
          font-size: 7.7rem; } }
      @media (max-width: 480px) {
        .why-join h2 {
          font-size: 6rem; } }
      @media (max-width: 410px) {
        .why-join h2 {
          font-size: 4.5rem;
          margin-bottom: 20px; } }
  
  .comment {
    font-family: 'DBHelvethaicaX-Reg';
    color: #252525; }
    .comment > img {
      padding: 0 20px 0 40px;
      vertical-align: top; }
      @media (max-width: 1024px) {
        .comment > img {
          padding: 0 20px 0 0; } }
      @media (max-width: 992px) {
        .comment > img {
          padding: 0 15px 0 0;
          width: 48px; } }
      @media (max-width: 768px) {
        .comment > img {
          width: 50px;
          padding: 0; } }
      @media (max-width: 640px) {
        .comment > img {
          width: 40px; } }
    .comment .comment-detail {
      display: inline-block;
      width: 75%;
      font-size: 2.8rem;
      line-height: .9;
      color: #595959;
      font-weight: 600; }
      @media (max-width: 1024px) {
        .comment .comment-detail {
          font-size: 2.6rem; } }
      @media (max-width: 992px) {
        .comment .comment-detail {
          width: 83%; } }
      @media (max-width: 768px) {
        .comment .comment-detail {
          width: 90%;
          padding-left: 20px;
          font-size: 3.9rem; } }
      @media (max-width: 640px) {
        .comment .comment-detail {
          width: 90%;
          padding-left: 20px;
          font-size: 3.3rem; } }
    .comment .commentator {
      margin-top: 25px; }
      @media (max-width: 768px) {
        .comment .commentator {
          margin-top: 50px;
          margin-bottom: 70px; } }
      @media (max-width: 640px) {
        .comment .commentator {
          margin-bottom: 50px; } }
      .comment .commentator img {
        margin-right: 10px;
        margin-top: -15px; }
        @media (max-width: 1024px) {
          .comment .commentator img {
            vertical-align: inherit; } }
        @media (max-width: 640px) {
          .comment .commentator img {
            vertical-align: bottom; } }
      .comment .commentator div {
        display: inline-block;
        width: 70%;
        font-size: 2rem;
        font-weight: 600; }
        @media (max-width: 768px) {
          .comment .commentator div {
            font-size: 3.4rem; } }
        @media (max-width: 640px) {
          .comment .commentator div {
            font-size: 2.8rem; } }
        .comment .commentator div span {
          display: block;
          font-family: 'DBHelvethaicaX-Reg';
          font-weight: 400; }
  
  .offer {
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: -50px; }
    @media (max-width: 992px) {
      .offer {
        margin-top: 0; } }
    @media (max-width: 992px) {
      .offer .container {
        max-width: 95%; } }
    .offer .offer-detail {
      padding-left: 40px;
      padding-top: 60px;
      color: #595959; }
      @media (max-width: 1199px) {
        .offer .offer-detail {
          padding-left: 20px; } }
      @media (max-width: 1024px) {
        .offer .offer-detail {
          padding-top: 80px; } }
      @media (max-width: 768px) {
        .offer .offer-detail {
          padding-top: 0;
          padding-left: 0; } }
      .offer .offer-detail h2 {
        font-family: 'DB Helvethaica X 63 MedExt';
        font-size: 9rem;
        color: #252525; }
        @media (max-width: 1440px) {
          .offer .offer-detail h2 {
            font-size: 7rem; } }
        @media (max-width: 1280px) {
          .offer .offer-detail h2 {
            font-size: 6rem; } }
        @media (max-width: 1024px) {
          .offer .offer-detail h2 {
            font-size: 5.5rem; } }
        @media (max-width: 768px) {
          .offer .offer-detail h2 {
            font-size: 9.2rem;
            text-align: center;
            margin-bottom: 50px; } }
        @media (max-width: 640px) {
          .offer .offer-detail h2 {
            font-size: 7.7rem;
            margin-bottom: 30px; } }
      .offer .offer-detail p {
        font-family: 'DBHelvethaicaX-Reg';
        font-size: 2.4rem;
        line-height: 1; }
        .offer .offer-detail p img {
          vertical-align: middle; }
        @media (max-width: 1280px) {
          .offer .offer-detail p img {
            width: 100px; } }
        @media (max-width: 1024px) {
          .offer .offer-detail p {
            font-size: 1.8rem; } }
        @media (max-width: 768px) {
          .offer .offer-detail p {
            font-size: 3.8rem; }
            .offer .offer-detail p img {
              width: 155px; }
            .offer .offer-detail p br {
              display: none; } }
        @media (max-width: 640px) {
          .offer .offer-detail p {
            font-size: 3.3rem; }
            .offer .offer-detail p img {
              width: 130px; } }
      .offer .offer-detail ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 35px; }
        @media (max-width: 1440px) {
          .offer .offer-detail ul {
            margin-top: 20px; } }
        @media (max-width: 1024px) {
          .offer .offer-detail ul {
            margin-top: 0; } }
        .offer .offer-detail ul li {
          border-bottom: 1px solid #eaeaea;
          padding: 15px 0; }
          @media (max-width: 768px) {
            .offer .offer-detail ul li {
              padding: 70px 0; } }
          @media (max-width: 768px) {
            .offer .offer-detail ul li {
              padding: 50px 0; } }
          @media (max-width: 480px) {
            .offer .offer-detail ul li {
              padding: 30px 0; } }
          @media (max-width: 410px) {
            .offer .offer-detail ul li {
              padding: 20px 0; } }
          .offer .offer-detail ul li p {
            font-size: 2.2rem;
            margin-bottom: 0; }
            @media (max-width: 768px) {
              .offer .offer-detail ul li p {
                font-size: 3.8rem; } }
            @media (max-width: 640px) {
              .offer .offer-detail ul li p {
                font-size: 3.3rem; } }
            @media (max-width: 480px) {
              .offer .offer-detail ul li p {
                font-size: 2.4rem; } }
            @media (max-width: 410px) {
              .offer .offer-detail ul li p {
                font-size: 1.9rem; } }
          @media (max-width: 768px) {
            .offer .offer-detail ul li:first-child {
              padding-top: 70px; } }
          @media (max-width: 480px) {
            .offer .offer-detail ul li:first-child {
              padding-top: 50px; } }
          @media (max-width: 410px) {
            .offer .offer-detail ul li:first-child {
              padding-top: 40px; } }
          @media (max-width: 768px) {
            .offer .offer-detail ul li:first-child .list-offer {
              margin-top: 5px; } }
          @media (max-width: 480px) {
            .offer .offer-detail ul li:first-child .list-offer {
              margin-top: 0; } }
          .offer .offer-detail ul li:last-child {
            border-bottom: 0; }
          @media (max-width: 768px) {
            .offer .offer-detail ul li:nth-child(2) .img-offer img, .offer .offer-detail ul li:nth-child(4) .img-offer img {
              margin-top: 0; } }
          @media (max-width: 768px) {
            .offer .offer-detail ul li:nth-child(2) .list-offer, .offer .offer-detail ul li:nth-child(3) .list-offer {
              margin-top: 5px; } }
          @media (max-width: 480px) {
            .offer .offer-detail ul li:nth-child(2) .list-offer, .offer .offer-detail ul li:nth-child(3) .list-offer {
              margin-top: 0; } }
          @media (max-width: 768px) {
            .offer .offer-detail ul li:nth-child(4) .list-offer, .offer .offer-detail ul li:nth-child(5) .list-offer {
              margin-top: 20px; } }
          @media (max-width: 480px) {
            .offer .offer-detail ul li:nth-child(4) .list-offer, .offer .offer-detail ul li:nth-child(5) .list-offer {
              margin-top: 0; } }
          @media (max-width: 410px) {
            .offer .offer-detail ul li:nth-child(4) .list-offer, .offer .offer-detail ul li:nth-child(5) .list-offer {
              margin-top: -5px; } }
          .offer .offer-detail ul li div {
            display: inline-block; }
          .offer .offer-detail ul li .img-offer {
            width: 16%;
            text-align: center;
            vertical-align: top; }
            .offer .offer-detail ul li .img-offer img {
              width: 50px;
              margin-top: 10px; }
            @media (max-width: 1024px) {
              .offer .offer-detail ul li .img-offer img {
                width: 40px; } }
            @media (max-width: 768px) {
              .offer .offer-detail ul li .img-offer {
                width: 25%; }
                .offer .offer-detail ul li .img-offer img {
                  width: 80px;
                  margin-top: 0; } }
            @media (max-width: 480px) {
              .offer .offer-detail ul li .img-offer {
                width: 20%; }
                .offer .offer-detail ul li .img-offer img {
                  width: 40px; } }
            @media (max-width: 410px) {
              .offer .offer-detail ul li .img-offer img {
                width: 35px; } }
            .offer .offer-detail ul li .img-offer h3 {
              color: #252525; }
              @media (max-width: 768px) {
                .offer .offer-detail ul li .img-offer h3 {
                  font-family: 'DB Helvethaica X 63 MedExt';
                  font-size: 4.5rem; } }
              @media (max-width: 640px) {
                .offer .offer-detail ul li .img-offer h3 {
                  font-size: 3.7rem; } }
          .offer .offer-detail ul li .list-offer {
            width: 80%;
            font-size: 2rem; }
            @media (max-width: 768px) {
              .offer .offer-detail ul li .list-offer {
                width: 76%;
                padding-left: 10px;
                font-size: 2.4rem; } }
            @media (max-width: 480px) {
              .offer .offer-detail ul li .list-offer {
                width: 74%;
                padding-left: 10px;
                font-size: 3.9rem; } }
            .offer .offer-detail ul li .list-offer h3 {
              font-size: 2.8rem;
              font-family: 'DBHelvethaicaX-Med';
              font-weight: 600;
              color: #252525;
              line-height: 1;
              margin: 0; }
              @media (max-width: 1440px) {
                .offer .offer-detail ul li .list-offer h3 {
                  font-size: 2.6rem; } }
              @media (max-width: 1280px) {
                .offer .offer-detail ul li .list-offer h3 {
                  font-size: 2.2rem; } }
              @media (max-width: 768px) {
                .offer .offer-detail ul li .list-offer h3 {
                  font-size: 4.5rem;
                  margin-bottom: 20px; } }
  
  .news {
    padding: 85px 0; }
    @media (max-width: 1440px) {
      .news {
        padding: 50px 0 60px; } }
    @media (max-width: 1280px) {
      .news {
        padding: 40px 0 60px; } }
    @media (max-width: 1024px) {
      .news {
        padding: 30px 0 50px; } }
    @media (max-width: 768px) {
      .news {
        padding: 80px 0 140px; } }
    @media (max-width: 640px) {
      .news {
        padding: 60px 0 100px; } }
    @media (max-width: 480px) {
      .news {
        padding: 40px 0 80px; } }
    @media (max-width: 410px) {
      .news {
        padding: 40px 0 60px; } }
    @media (max-width: 992px) {
      .news .container {
        max-width: 95%; } }
    .news h2 {
      font-family: 'DB Helvethaica X 63 MedExt';
      font-size: 9rem;
      text-align: center;
      color: #363636; }
      @media (max-width: 1280px) {
        .news h2 {
          font-size: 7rem; }
          .news h2 img {
            width: 30px; } }
      @media (max-width: 1024px) {
        .news h2 {
          font-size: 6rem; }
          .news h2 img {
            width: 25px; } }
      @media (max-width: 768px) {
        .news h2 {
          font-size: 9.2rem; }
          .news h2 img {
            width: 30px; } }
      @media (max-width: 640px) {
        .news h2 {
          font-size: 7.7rem; }
          .news h2 img {
            width: 25px; } }
      @media (max-width: 480px) {
        .news h2 {
          font-size: 5.7rem; }
          .news h2 img {
            width: 18px;
            margin-top: -5px; } }
      @media (max-width: 410px) {
        .news h2 {
          font-size: 4.5rem; }
          .news h2 img {
            width: 15px; } }
    .news .news-list {
      margin-bottom: 75px; }
      @media (max-width: 1280px) {
        .news .news-list {
          margin-bottom: 55px; } }
      @media (max-width: 410px) {
        .news .news-list {
          margin-bottom: 40px; } }
      .news .news-list ul {
        padding: 0;
        margin: 0;
        margin-top: 30px;
        list-style-type: none; }
        @media (max-width: 410px) {
          .news .news-list ul {
            margin-top: 10px; } }
        .news .news-list ul li {
          max-width: 100%; }
          @media (max-width: 768px) {
            .news .news-list ul li {
              width: 650px !important; } }
          @media (max-width: 768px) {
            .news .news-list ul li {
              width: 500px !important; } }
          @media (max-width: 480px) {
            .news .news-list ul li {
              width: 350px !important; } }
          @media (max-width: 410px) {
            .news .news-list ul li {
              width: 300px !important; } }
          @media (max-width: 375px) {
            .news .news-list ul li {
              width: 270px !important; } }
          @media (max-width: 320px) {
            .news .news-list ul li {
              width: 230px !important; } }
          .news .news-list ul li > div {
            margin: 0 7.5%;
            position: relative;
            border: 1px solid #ebebeb; }
            @media (max-width: 768px) {
              .news .news-list ul li > div {
                margin: 0 5%; } }
            @media (max-width: 480px) {
              .news .news-list ul li > div {
                margin: 0 3%; } }
            .news .news-list ul li > div::after {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              display: block;
              background-image: url("/assets/img/news-corner-curl.png");
              background-repeat: no-repeat;
              width: 30px;
              height: 30px;
              -webkit-transition: all 0.5s;
              -o-transition: all 0.5s;
              -moz-transition: all 0.5s;
              transition: all 0.5s; }
          .news .news-list ul li a:hover > div::after {
            background-image: url("/assets/img/news-corner-curl-open.png");
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s; }
    .news .btn {
      text-align: center;
      display: block; }
      .news .btn a {
        font-size: 2.4rem;
        padding: 6px 35px;
        border-radius: 25px;
        background-color: #1b1464;
        color: #fff;
        display: inline-block; }
        @media (max-width: 1280px) {
          .news .btn a {
            font-size: 2.2rem; } }
        @media (max-width: 768px) {
          .news .btn a {
            font-size: 4.5rem;
            padding: 3px 60px;
            border-radius: 100px; } }
        @media (max-width: 768px) {
          .news .btn a {
            padding: 6px 40px;
            font-size: 3.7rem; } }
        @media (max-width: 480px) {
          .news .btn a {
            padding: 6px 40px;
            font-size: 2.8rem; } }
        @media (max-width: 410px) {
          .news .btn a {
            font-size: 2.2rem;
            padding: 3px 30px; } }
  
  .founding-member {
    background: #f9f9f9;
    background: -webkit-gradient(linear, left bottom, left top, from(#f9f9f9), color-stop(50%, #f8f8f8), to(#f7f7f7));
    background: -webkit-linear-gradient(bottom, #f9f9f9 0%, #f8f8f8 50%, #f7f7f7 100%);
    background: -o-linear-gradient(bottom, #f9f9f9 0%, #f8f8f8 50%, #f7f7f7 100%);
    background: linear-gradient(0deg, #f9f9f9 0%, #f8f8f8 50%, #f7f7f7 100%);
    padding: 90px 0 100px;
    font-size: 2.4rem;
    font-family: 'DBHelvethaicaX-Reg';
    text-align: center;
    color: #707070; }
    @media (max-width: 1440px) {
      .founding-member {
        padding: 50px 0 60px; } }
    @media (max-width: 1280px) {
      .founding-member {
        padding: 40px 0 60px; } }
    @media (max-width: 1280px) {
      .founding-member {
        padding: 30px 0 50px; } }
    @media (max-width: 768px) {
      .founding-member {
        padding: 70px 0 140px; } }
    @media (max-width: 480px) {
      .founding-member {
        padding: 50px 0 100px; } }
    @media (max-width: 410px) {
      .founding-member {
        padding: 40px 0 80px; } }
    @media (max-width: 320px) {
      .founding-member {
        padding: 30px 0 60px; } }
    @media (max-width: 992px) {
      .founding-member .container {
        max-width: 95%; } }
    .founding-member h2 {
      font-family: 'DB Helvethaica X 63 MedExt';
      font-size: 9rem;
      text-align: center;
      color: #363636; }
      @media (max-width: 1440px) {
        .founding-member h2 {
          font-size: 7rem; }
          .founding-member h2 img {
            width: 30px; } }
      @media (max-width: 1280px) {
        .founding-member h2 {
          font-size: 6rem; }
          .founding-member h2 img {
            width: 25px; } }
      @media (max-width: 768px) {
        .founding-member h2 {
          font-size: 9.2rem;
          line-height: .8;
          margin-bottom: 60px; }
          .founding-member h2 img {
            width: 30px; } }
      @media (max-width: 640px) {
        .founding-member h2 {
          font-size: 7.7rem;
          line-height: .9; }
          .founding-member h2 img {
            width: 25px; } }
      @media (max-width: 480px) {
        .founding-member h2 {
          font-size: 5.7rem; }
          .founding-member h2 img {
            width: 18px;
            margin-top: -5px; } }
      @media (max-width: 410px) {
        .founding-member h2 {
          margin-bottom: 40px;
          font-size: 4.5rem; }
          .founding-member h2 img {
            width: 15px; } }
    .founding-member h4 {
      font-size: 2.4rem;
      margin-bottom: 25px;
      font-weight: 400; }
      .founding-member h4 strong {
        color: #1b1464;
        font-weight: 800;
        font-family: 'DBHelvethaicaX-Med'; }
      @media (max-width: 768px) {
        .founding-member h4 {
          font-size: 3.9rem;
          margin-bottom: 50px; }
          .founding-member h4 img {
            width: 155px; } }
      @media (max-width: 640px) {
        .founding-member h4 {
          font-size: 3.3rem; }
          .founding-member h4 img {
            width: 130px; } }
      @media (max-width: 480px) {
        .founding-member h4 {
          margin-bottom: 30px;
          font-size: 2.4rem; } }
      @media (max-width: 410px) {
        .founding-member h4 {
          font-size: 1.9rem; } }
    .founding-member ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 40px;
      margin-bottom: 75px;
      text-align: center; }
      @media (max-width: 480px) {
        .founding-member ul {
          margin-top: 30px;
          margin-bottom: 60px; } }
      @media (max-width: 410px) {
        .founding-member ul {
          margin-top: 30px;
          margin-bottom: 50px; } }
    .founding-member img {
      display: inline-block; }
    .founding-member .btn {
      font-family: 'DBHelvethaicaX-Reg';
      font-size: 2.4rem;
      padding: 6px 35px;
      border-radius: 25px;
      background-color: #1b1464;
      color: #fff;
      display: inline-block; }
      @media (max-width: 1280px) {
        .founding-member .btn {
          font-size: 2.2rem; } }
      @media (max-width: 768px) {
        .founding-member .btn {
          font-size: 4.5rem;
          padding: 3px 60px;
          border-radius: 100px; } }
      @media (max-width: 768px) {
        .founding-member .btn {
          padding: 6px 40px;
          font-size: 3.7rem; } }
      @media (max-width: 480px) {
        .founding-member .btn {
          padding: 3px 30px;
          font-size: 2.8rem; } }
      @media (max-width: 410px) {
        .founding-member .btn {
          font-size: 2.2rem;
          padding: 3px 30px; } }
