.page-list-subscribe {
    font-size: 2rem;
    color: #252525;
    background-color: #f7f7f7;
    padding-top: 100px; }
    .page-list-subscribe .list-subscribe-wrap {
        padding: 55px 0 100px;
        font-size: 2.2rem; }