

@font-face {
    font-family: 'DBHelvethaicaX-Reg';
    src: url("/assets/fonts/DBHelvethaicaX-Reg.ttf");
    src: url("/assets/fonts/DBHelvethaicaX-Reg.woff") format("woff"), url("/assets/fonts/DBHelvethaicaX-Reg.svg") format("svg");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'DBHelvethaicaX-Med';
    src: url("/assets/fonts/DBHelvethaicaX-65Med.woff2") format("woff2"), url("/assets/fonts/DBHelvethaicaX-65Med.woff") format("woff"), url("/assets/fonts/DBHelvethaicaX-65Med.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'DB Helvethaica X 35';
    src: url("/assets/fonts/DBHelvethaicaX-35Thin.woff2") format("woff2"), url("/assets/fonts/DBHelvethaicaX-35Thin.woff") format("woff"), url("/assets/fonts/DBHelvethaicaX-35Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal; }
  
  @font-face {
    font-family: 'DB Helvethaica X 63 MedExt';
    src: url("/assets/fonts/DBHelvethaicaX-63MedExt.woff2") format("woff2"), url("/assets/fonts/DBHelvethaicaX-63MedExt.woff") format("woff"), url("/assets/fonts/DBHelvethaicaX-63MedExt.ttf") format("truetype");
    font-weight: 500;
    font-style: normal; }
  
  html {
    font-size: 62.5%; }
    @media (max-width: 992px) {
      html {
        font-size: 56.30631%; } }
  
  body {
    font-family: 'DBHelvethaicaX-Reg';
    color: #252525;
    font-size: 1rem;
    line-height: 1; }
  
  a {
    text-decoration: none;
    color: #252525; }
    a:hover, a:focus {
      text-decoration: none;
      color: #1b1464; }
  
  img {
    max-width: 100%; }
 